:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --span-gold: #d2b183;
    --active-gold: #7e6c51;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.text {
    margin: 0;
    padding: 0;
}
.section-title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.section {
    max-width: 100%;
    background-color: #fff;
    margin: 75px 0;
}
.dark-section,
header {
    width: 100%;
    background-color: var(--bg-dark);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.iframe {
    width: 100%;
    height: 100vh;
}

/*header*/
.header__container {
    background-color: var(--bg-dark);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 25px;
}
.logo {
    width: 49px;
    height: 26px;
}
.logo__text {
    text-transform: uppercase;
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    color: var(--white);
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 775px;
    gap: 55px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list__item {
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
}
.list__item a {
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}
.list__item a:hover {
    color: var(--font-gold);
}
.list__item a:active {
    color: var(--active-gold);
}

/*welcome*/
.welcome__container {
    position: relative;
    height: 810px;
}
.welcome__grad {
    position: absolute;
    display: block;
    width: 1000px;
    height: 750px;
    left: 440px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(1.jpg);
    z-index: 10;
}
.welcome__box {
    position: absolute;
    width: 598px;
    display: flex;
    flex-direction: column;
    margin: 150px 0 0 0;
    z-index: 15;
}
.welcome__title {
    color: var(--white);
}
.welcome__text {
    margin: 25px 0 75px 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: var(--white);
}
.welcome__button {
    width: 360px;
    height: 75px;
    background: var(--dark-red);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.welcome__button:hover {
    background-color: var(--font-gold);
}

/*slider*/
.welcome__slider {
    position: absolute;
    width: 1000px;
    height: 750px;
    right: 0;
    overflow: hidden;
}
.slider__track {
    position: relative;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    transition: 0.8s;
    width: calc(100% * 5);
}
.slider__item {
    width: 100vw;
    height: 100vh;
}
/*slider-bar*/
.welcome__slider-bar {
    position: absolute;
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    margin: 690px 0 0 840px;
    z-index: 20;
}
.slider__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 55px 0 0;
}
.slider__text p, 
.slider__text span {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: var(--white);
}
.slider__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 0 60px 0 0;
}
.slider__icon {
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.icon-btn {
    opacity: 1;
}
.slider__icon:hover {
    background-color: var(--font-gold);
}
.slider__icon:first-child:hover {
    background-color: var(--font-gold);
}
.slider__icon.hover {
    background-color: var(--font-gold);
}
.slider__icon:first-child {
    background-color: var(--span-gold);
}
.slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.prev,
.next {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 8px;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
}
.prev:hover,
.next:hover {
    filter: invert(51%) sepia(34%) saturate(352%) hue-rotate(356deg) brightness(100%) contrast(86%);
}
.prev {
    background: url('../assets/img/arrowleft.svg');
}
.next {
    background: url('../assets/img/arrowright.svg');
}

/*visiting*/
.visiting__title {
    position: relative;
    color: var(--font-gold); 
}
.visiting__title::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
}
.visiting__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 60px;
    margin: 103px 0 0 0;
}
.visiting__cards a {
    text-decoration: none;
    color: #000;
}
.item__image {
    width: 440px;
    height: 285px;
}
.item__title {
    position: relative;
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 25px 0 0 0;
}
.item__title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: var(--dark-red);
    transition: 0.3s ease-out;
}
.item__title:hover:after {
    width: 100%;
}
.item__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 22px 0 0 0;
}
.item__text h4 {
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}
.item__text p {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

/*explore*/
.explore__container {
    height: 865px;
    display: flex;
    gap: 60px;
}
.explore__box {
    width: 660px;
    margin: 75px 0 0 0;
}
.explore__title {
    position: relative;
    color: var(--white);
}
.explore__title::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
}
.text__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 103px 0 0 0;
}
.explore__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    margin: 0;
    color: var(--white);
}
.explore__text span {
    color: #caaa7d;
}
.explore__slider {
    width: 720px;
    height: 700px;
    margin: 90px 0 0 0;
}

/*video*/
.video__box {
    display: flex;
    justify-content: space-between;
}
.video__title {
    color: var(--font-gold);
}
.video__text {
    display: flex;
    align-items: center;
    width: 720px;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    margin: 0;
}
.video__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 12px;
    margin: 0;
}
.video__slider span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999999;
    transition: 0.3s;
    cursor: pointer;
}
.video__slider span:hover {
    background-color: var(--dark-red);
}
.slider-left,
.slider-right {
    width: 12px;
    height: 12px;
    border: none;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
}
.slider-left {
    background: url('../assets/img/slider-left.svg') no-repeat;
}
.slider-right {
    background: url('../assets/img/slider-right.svg') no-repeat;
}

.slider-left:hover {
    background: url('../assets/img/slider-left-hover.svg') no-repeat;
}
.slider-right:hover {
    background: url('../assets/img/slider-right-hover.svg') no-repeat;
}
.video__slider span:nth-child(2) {
    background-color: #333333;
}
.video__slider span:hover:nth-child(2) {
    background-color: var(--dark-red);
}

/*video-player*/
.video__player {
    position: relative;
    height: 735px;
    margin: 75px 0 0 0;
    overflow: hidden;
}
video {
    width: 100%;
    height: 650px;
}
.player__box {
    position: absolute;
    display: flex;
    align-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    background-color: var(--bg-dark);
}
.player__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.player__controls button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.sound {
    display: flex;
    align-items: center;
    gap: 50px;
}
.play-btn {
    background: url('../assets/img/playvp.svg') no-repeat;
    width: 23px;
    height: 31px;
    transition: 0.3s;
}
.progress {
    background: linear-gradient(to right, #710707 0%, #710707 35%, #c4c4c4 35%, #c4c4c4 100%);
    border: none;
    border-radius: none;
    height: 8px;
    width: 929px;
    outline: none;
    -webkit-appearance: none;
  }
.progress::-webkit-slider-thumb,
.volume-range::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    -webkit-appearance: none;
  }
.volume {
    background: url('../assets/img/volumevp.svg') no-repeat;
    width: 38px;
    height: 31px;
    transition: 0.3s;
}
.volume-range {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
    width: 155px;
    height: 8px;
    border: none;
    border-radius: none;
    outline: none;
    -webkit-appearance: none;
}
.full {
    background: url('../assets/img/fullscreenvp.svg') no-repeat;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}
input {
    margin: 0;
}
.player__btn {
    position: absolute;
    top: 29%;
    left: 42%;
    background: url('../assets/img/play.svg');
    width: 220px;
    height: 220px;
    border: none;
    cursor: pointer;
}
.full:hover,
.volume:hover,
.play-btn:hover {
    filter: invert(68%) sepia(0%) saturate(367%) hue-rotate(166deg) brightness(90%) contrast(86%);
}
.video__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 254px;
    margin: 40px 0;
}
.frameborder {
    width: 452px;
    height: 254px;
    border: 0;
}

/*gallery*/
.gallery__title {
    color: var(--white);
    margin: 75px 0 0 0;
}
.gallery__columns {
    display: flex;
    gap: 36px;
    max-height: 1960px;
    margin: 75px 0 0 0;
    overflow: hidden;
}
.columns__column-1,
.columns__column-2,
.columns__column-3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.columns__column-1,
.columns__column-3 {
    margin: 50px 0 0 0;
}
.gallery__columns span {
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0;
    transform: translateY(1600px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/*tickets*/
.tickets__title {
    position: relative;
    color: var(--font-gold);
}
.tickets__title::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
}
.tickets__box {
    display: flex;
    gap: 60px;
    margin: 103px 0 0 0;
}
.tickets__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form__box {
    display: flex;
    justify-content: space-between;
    width: 660px;
}
.form-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    margin: 0;
}
.type__btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px 0 0 0;
}
.label span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}
.radio__btn {
    display: none;
}
.label__span {
  display: inline-flex;
  align-items: center;
}
.label span::before {
    display: block;
    content: '';
    background-color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #000; 
}
.radio__btn:checked + span::before {
    background-color: #000;
    box-shadow: inset 0 0 0 5px #fff;
}
.label__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    cursor: pointer;
}
.form__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.amount__title {
    margin: 0 0 25px 0;
}
.amount__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.amount.btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn__title {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
    margin: 0 0 15px 0;
}
.btn__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    border: 3px solid #000;
    text-align: center;
    padding: 0 14px;
}
.btn-num {
    width: 19px;
    height: 38px;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    padding: 0;
    cursor: pointer;
}
.num {
    position: relative;
    all: unset;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.num::-webkit-inner-spin-button {
    position: absolute;
}
.amount__total {
    display: flex;
    margin: 50px 0 0 0;
}
.amount__text,
.amount__sum {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    margin: 0;
}
.form__btn {
    display: block;
    width: 175px;
    height: 50px;
    background-color: #000;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    border: none;
    transition: 0.3s;
    margin: 60px 0 0 0;
    cursor: pointer;
}
.form__btn:hover {
    color: #000;
    background-color: var(--font-gold);
}

/*parallax*/
.museum__parallax {
    width: 100%;
    height: 400px;
    background: url('../assets/img/parallax.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*contacts*/
.museum__contacts {
    margin: 75px auto 75px auto;
}
.contacts__title {
    position: relative;
    color: var(--font-gold); 
}
.contacts__title::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
}
.contacts__box {
    display: flex;
    justify-content: space-between;
    margin: 103px 0 0 0;
}
.contacts__info {
    height: 282px;
}
.info__title {
    width: 227px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin: 0;
}
.info__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px 0 0 0;
}
.info__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}
.info__link {
    text-decoration: none;
    color: #000;
}
.contacts__map {
    width: 960px;
    height: 620px;
}

/*footer*/
.museum__footer {
    position: relative;
}
.footer__container {
    max-width: 1440px;
    height: 392px;
    margin: 0 auto;
}
.footer__top {
    display: flex;
    justify-content: center;
}

.footer__logo {
    display: flex;
    gap: 25px;
    align-items: baseline;
    margin: 84px 145px 0 0;
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 87px 397px 0 0;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.footer__socials {
    display: flex;
    gap: 25px;
    margin: 162px 0 0 0;
    padding: 0;
}
.socials {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--white);
    transition: 0.3s;
}
.socials__img {
    transform: translate(45%, 45%);
}
.socials:hover {
    filter: invert(51%) sepia(34%) saturate(352%) hue-rotate(356deg) brightness(100%) contrast(86%);
}
.footer__bottom {
    margin: 103px 0 0 0;
}
.footer__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__data p {
    color: var(--white);
    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    margin: 0;
}
.museum__footer::before {
    position: absolute;
    display: block;
    content: '';
    width:100%;
    height: 3px;
    background-color: #666666;
    left: 0;
    bottom: 124px;
}


/*booking tickets*/
.booking__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 845px;
    top: 6688px;
    transform: translateX(120%);
    z-index: 30;
    transition: 0.8s;
    background-color: rgba(255, 255, 255, 0.5);
}
.booking__container {
    position: absolute;
    top: 0;
    display: flex;
    width: 1440px;
    height: 845px;
    margin: 0 auto;
    background-color: var(--white);
    transform: translateX(120%);
    transition: 0.8s;
    z-index: 50;
}
.booking__container.active {
    transform: translateX(0%);
}
.booking__overlay.active {
    transform: translateX(0%);
}
.booking__close-btn {
    position: relative;
    display: flex;
    top: 41px;
    right: 49px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.booking__close-btn span {
    position: absolute;
    display: block;
    width: 35px;
    height: 1px;
    background-color: var(--bg-dark);
}
.line-1 {
    transform: rotate(45deg);
}
.line-2 {
    transform: rotate(-45deg);
}
.booking__form {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 970px;
    margin: 91px auto;
}
.form__wrap {
    width: 400px;
}
.form__title {
    display: flex;
    flex-direction: column;
}
.form__logo {
    width: 85px;
    height: 41px;
}
.form__booking {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
    color: var(--font-gold);
}
.form__tour {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0 0 0;
    color: var(--dark-red);
}
.form__tour::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -10px;
    background-color: var(--dark-red);
}
.form__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 70px 0 0 0;
}
.info__date-time {
    display: flex;
    justify-content: space-between;
}

/*date-time input*/
.info__date,
.info__time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 45px;
    padding: 15px;
    border: 1px solid var(--bg-dark);
}
.date::before,
.time::before {
    content: attr(placeholder);
    margin: 0;
}
.date.active:before,
.time.active:before {
    content: '';
}
.date-icon {
    display: block;
    background: url('../assets/img/date.svg');
    width: 15px;
    height: 15px;
}
.time-icon {
    display: block;
    background: url('../assets/img/time.svg');
    width: 15px;
    height: 15px;
}
.date,
.time {
    width: 145px;
    height: 45px;
    padding: 13px 0 12px 15px;
    border: none;
    outline: none;
    background: url('../assets/img/arrowdown.svg') no-repeat;
    background-size: 17px, 17px;
    background-position: center right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-dark);
    cursor: pointer;
}
.date::-webkit-calendar-picker-indicator,
.time::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.date::-webkit-input-placeholder {
    color: #fff;
}
.date::-webkit-datetime-edit,
.time::-webkit-datetime-edit {
    opacity: 0;
}

.date.active::-webkit-datetime-edit,
.time.active::-webkit-datetime-edit{
    opacity: 1;
}

.date:focus::-webkit-datetime-edit,
.time:focus::-webkit-datetime-edit {
    opacity: 1;
}
.date:focus,
.time:focus {
    background: url('../assets/img/arrow.svg') no-repeat;
    background-size: 17px, 17px;
    background-position: center right;
    border: none;
}
.date:focus::before,
.time:focus::before {
    content: '';
}

/*inputs*/
.input {
    display: block;
    height: 45px;
    border: 1px solid var(--bg-dark);
    outline: none;
    padding: 13px 0 12px 45px;
    margin: 0;
}
.info__name {
    background: url('../assets/img/name.svg') no-repeat;
    background-size: 13px, 15px;
    background-position: center left 15px;
}
.info__email {
    background: url('../assets/img/email.svg') no-repeat;
    background-size: 15px, 11px;
    background-position: center left 15px;
}
.info__tel {
    background: url('../assets/img/tel.svg') no-repeat;
    background-size: 14px, 23px;
    background-position: center left 15px;
}
.input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-dark);
}
.info__select {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 0 43px;
    color: var(--bg-dark);
    background: url('../assets/img/ballot.svg'), url('../assets/img/arrowdown.svg');
    background-repeat: no-repeat;
    background-size: 14px, 17px;
    background-position: center left 15px, center right 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.info__select:focus {
    background: url('../assets/img/ballot.svg'), url('../assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-size: 14px, 17px;
    background-position: center left 15px, center right 15px;
}
.option {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-dark);
}
.option:hover {
    background-color: #e7e7e7;
}
.option-disabled {
    display: none;
}

.info__entry-ticket {
    height: 135px;
    border: 1px solid var(--bg-dark);
    padding: 10px 15px 15px;
}
.entry-ticket__title {
    position: relative;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    color: var(--font-gold);
}
.entry-ticket__title::after {
    content: '';
    width: 370px;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: var(--dark-red);
}
.entry-ticket__buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 22px 0 0 0;
}
.button__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}
.entry-ticket__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button__box {
    width: 105px;
    display: flex;
    align-items: center;
    height: 25px;
}
.number {
    position: relative;
    all: unset;
    width: 35px;
    height: 23px;
    outline: none;
    border: 1px solid var(--bg-dark);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.number::-webkit-inner-spin-button {
    position: absolute;
}
.button-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 25px;
    color: var(--white);
    background-color: var(--bg-dark);
    padding: 0;
    border: none;
    cursor: pointer;
}
.minus {
    display: block;
    width: 10px;
    height: 10px;
    background: url('../assets/img/minus.svg') no-repeat;
    background-position: center;
}
.plus {
    display: block;
    width: 10px;
    height: 10px;
    background: url('../assets/img/plus.svg') no-repeat;
    background-position: center;
}

/*overview*/
.form__overview {
    width: 530px;
    border: 1px solid var(--bg-dark);
    padding: 25px 30px;
}
.overview__head {
    display: flex;
    justify-content: space-between;
}
.overview__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}
.overview__tour {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--dark-red);
    margin: 2px 0 0 0;
}
.overview__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0 0 0;
}
.items__item {
    display: flex;
    align-items: center;
}
.items__item p{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}
.item-1,
.item-2,
.item-3 {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
}
.item-1 {
    background: url('../assets/img/date.svg');
}
.item-2 {
    background: url('../assets/img/time.svg');
}
.item-3 {
    background: url('../assets/img/check_circle_outline.svg');
}
.overview__image {
    width: 150px;
    height: 120px;
}
.total__item {
    display: flex;
    align-items: center;
}
.overview__total {
    width: 100%;
    margin: 22px 0 0 0;
}
.total__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.total__text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.total__text p {
    margin: 0;
}
.total__item span {
    display: block;
    width: 32px;
    height: 20px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #a4a4a3;
    background-color: var(--bg-dark);
}
.total__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin: 21px 0 0 0;
}
.total__title p {
    margin: 0;
}
.total__title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: -10px;
    background-color: var(--dark-red);
}

/*cards*/
.overview__bottom {
    display: flex;
    flex-direction: column;
    height: 312px;
    margin: 10px 0 0 0;
}
.overview__cards {
    height: 211px;
}
.card-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    height: 211px;
    border-radius: 3px;
    background: #bcbcbc;
    background: url('../assets/img/visa.png'), url('../assets/img/mastercard.png');
    background-repeat: no-repeat;
    background-position: top 34px right 20px, top 65px right 20px;
    background-color: #bcbcbc;
    padding: 15px 20px;
    z-index: 10;
}
.card-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 360px;
    height: 211px;
    border-radius: 3px;
    background-color: #939393;
    margin: 30px 0 0 110px;
    z-index: 5;
}
.card__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.label-1 {
    width: 215px;
}
.card__label input,
.card__label select {
    height: 35px;
    border: 0.5px solid #a4a4a3;
    padding: 10px 10px;
    outline: none;
}
.card__select select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.month,
.year {
    display: block;
    position: absolute;
    background: url('../assets/img/cardarrows.svg') no-repeat;
    background-position: center;
    width: 28px;
    height: 35px;
    border: 0.5px solid #a4a4a3;
}
.month {
    left: 72px;
}
.year {
    left: 187px;
}
.select-month {
    position: relative;
    width: 100px;
}
.select-year {
    width: 100px;
    margin: 0 0 0 15px;
}
.card__select {
    display: flex;
    position: relative;
}
.card__label span,
.card__label select {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.card__stripe {
    display: block;
    width: 100%;
    height: 45px;
    background-color: #161615;
    margin: 25px 0 0 0;
}
.card__input {
    padding: 0 20px;
    margin: 15px 0 0 0;
}
.card__input label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__input span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
}
.card__input p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}
.card__code {
    width: 75px;
    height: 35px;
    margin: 5px 0 6px 0;
    outline: none;
}
.overview__btn {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 45px;
    border: none;
    background-color: var(--dark-red);
    margin: 56px 0 0 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: var(--white);
    transition: 0.3s;
    cursor: pointer;
}
.overview__btn:hover {
    background-color: var(--font-gold);
    color: var(--bg-dark);
}

/*@media screen and (min-width: 1440px) and (max-width: 1550px){
    .container {
        max-width: 1360px;
    }
    .welcome__grad {
        left: 360px;
    }
    .welcome__slider-bar {
        margin: 690px 0 0 760px;
    }
    .frameborder {
        width: 400px;
    }
    .player__controls {
        gap: 30px;
    }
    .video__player {
        max-width: 100%;
        height: auto;
    }
    .form__box {
        width: 580px;
    }
    .footer__container {
        max-width: 1360px;
    }
}
@media screen and (min-width: 1240px) and (max-width: 1440px) {
    .container {
        max-width: 1360px;
        margin: 0 40px;
    }
    .text__box {
        margin: 63px 0 0 0;
    }
}*/